.wrapper{
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  display: flex;
  width: 100%;
}
.btn-default {
  margin-right: 5px;
  margin-left: 5px;
          }
#filter {
            margin: auto;
              width: 60%;
              border: 3px solid #73AD21;
              padding: 10px;
            }
            input[type=text] {
              width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              box-sizing: border-box;}
        .tabulator-print-header, tabulator-print-footer{
            text-align:center;}